@use "../../../../assets/styles/globalStyles.scss";

.comment_container {
    position: relative;

    margin: 3em 0;

    width: 80%;

    font-size: 15px;

    // display: flex;
    // align-items: center;
    flex-direction: column;

    .comment_title {
        text-decoration: underline;
        font-size: 1.5em;
        font-weight: 600;
        color: globalStyles.$category-color;
    }

    .comment_warn {
        font-style: italic;
    }

    .comment_button {
        margin: 0.7em auto;
        background-color: globalStyles.$button-color;
    }

    .comment_warn,
    .comment_title,
    .comment_field {
        margin: 0.7em 0;
    }

    .comment_field {
        width: 70%;
    }

    .MuiListItemText-primary {
        .comment_list_time {
            font-weight: 600;
            // color: globalStyles.$time-color;
            color: red;
        }
    }
    .css-83ijpv-MuiTypography-root {
        padding: 0 1em;
    }
}
