@use "../../../../assets/styles/globalStyles.scss";
@use "../../../../themes/widgets.scss";

.comment_title {
    text-decoration: underline;
    font-size: 1.5em;
    font-weight: 600;
    color: globalStyles.$category-color;
}

.comment_warn {
    font-style: italic;
}

.comment_button {
    margin: 0.7em auto;
    @include widgets.background_right;
}

.comment_warn,
.comment_title,
.comment_field {
    margin: 0.7em 0;
}

.comment_field {
    width: 90%;
    border-radius: 1.5em;
}

.MuiListItemText-primary {
    .comment_list_time {
        font-weight: 600;
    }
}
