$h2-font-size: 1.5em;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin posCenter {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
