$h2-font-size: 1.5em;
$time-color: #c0b9b6;
$category-color: #c1a57b;
$button-color: #c1a57b;
$light-red: #fe4f70;

$light-grey: #8f9bad;
$light-red: #fe4f70;
$title-color: #203656;

// FONTS
$montserratFont: "Montserrat", sans-serif;
$poppinFont: "Poppins", sans-serif;
$robotoFont: "Roboto", sans-serif;

$transition: all 0.3s ease-in-out;

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background-color: #555; */
    /* border-radius: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
    opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    outline: none;
    border: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}
