$h2-font-size: 1.5em;
$time-color: #c0b9b6;
$category-color: #c1a57b;
$button-color: #c1a57b;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin posCenter {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}
