@font-face {
    font-family: "Montserrat", sans-serif;
    src: url("../fonts/Montserrat-Medium.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url("../fonts/Roboto-Italic.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../fonts/Poppins-SemiBold.ttf");
    font-weight: 700;
}
