.other_categories_container {
    position: relative;

    width: 90%;

    margin: 3em auto;

    font-size: 15px;

    .categories_above {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .category {
            width: 49%;

            // background: pink;

            .category_title {
                z-index: 2;

                &::before {
                    content: "";

                    position: absolute;
                    top: 0.8em;

                    width: 10%;
                    height: 0.5em;

                    background: #c1a57b;
                    z-index: -1;
                }
            }

            .category_items {
                position: relative;

                width: 100%;

                margin: 1em 0;

                // background: red;

                display: flex;

                line-height: 1.5em;

                .items_img {
                    width: 19em;
                    height: 12em;

                    img {
                        width: 100%;
                        height: 100%;

                        object-fit: cover;
                        border-radius: 1em;
                    }
                }

                .items_title {
                    font-size: 1.2em;
                }

                .items_text {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    padding: 0 1em;
                }
            }
        }
    }

    .food_category {
        width: 100%;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        line-height: 2em;

        margin-top: 2em;

        .category_title {
            position: relative;
            margin: 0 auto;
            margin-bottom: 1em;

            &::before {
                content: "";

                position: absolute;
                top: 1em;

                width: 110%;
                height: 0.5em;

                background: #c1a57b;
                z-index: -1;
            }
        }

        // background: red;

        .category_content {
            position: relative;
            width: 100%;

            display: flex;
            justify-content: space-between;

            .category_items {
                width: 24%;

                display: flex;
                flex-direction: column;

                .items_img {
                    width: 18em;
                    height: 12em;

                    img {
                        width: 100%;
                        height: 100%;

                        object-fit: cover;
                        border-radius: 1em;
                    }
                }

                .items_text {
                    padding-right: 1em;

                    .items_title {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .other_categories_container {
        .categories_above {
            flex-direction: column;

            .category {
                width: 100%;

                .category_title {
                    // background: red;
                    &::before {
                        width: 35%;
                    }
                }

                .category_items {
                    flex-direction: column;

                    .items_img {
                        height: 19em;
                    }

                    .items_text {
                        margin-top: 0.5em;
                        padding: 0;
                    }
                }
            }
        }

        .food_category {
            .category_content {
                flex-direction: column;

                .category_items {
                    width: 100%;

                    margin: 0.5em auto;
                }
            }
        }
    }
}
