@use "../../../assets/styles/globalStyles.scss";

.auth_container {
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: space-between;

    font-size: 15px;

    .auth_brand {
        position: relative;

        width: 30%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .auth_brand_paper {
            position: relative;
            width: 90%;
            height: 90%;

            @include globalStyles.flexCenter;

            flex-direction: column;

            .auth_brand_title {
                margin-bottom: 1em;

                text-align: center;
                font-weight: 600;
                font-size: 1.5em;
                line-height: 1.9em;
            }

            .auth_brand_logo {
                width: 50%;
                height: 30%;

                img {
                    width: 100%;
                    height: 100%;

                    object-fit: cover;

                    border-radius: 1em;
                }
            }
        }
    }

    .auth_form {
        position: relative;

        width: 70%;
        height: 100%;

        @include globalStyles.flexCenter;
        flex-direction: column;

        .auth_form_title {
            position: relative;
            width: 32em;

            line-height: 2em;
            text-align: left;

            margin-bottom: 1em;

            .title {
                font-weight: 600;
                font-size: 1.8em;
            }

            .subtitle {
                font-size: 1em;
            }
        }

        .auth_field {
            .auth_social {
                display: flex;
                justify-content: center;
                margin-bottom: 1em;

                .auth_social_button {
                    width: 10em;
                    height: 2.6em;

                    margin: 0 0.5em;

                    border-color: #000;

                    &:first-child {
                        color: #df3e30;
                    }
                }
            }

            .css-1ws8119-MuiDivider-root {
                margin-bottom: 0.5em;
            }
        }

        .form {
            display: flex;
            flex-direction: column;

            .form_input_field {
                width: 32em;
                height: 3.7em;

                margin: 0.8em 0;
            }

            .css-ag7rrr-MuiTypography-root {
                font-size: 1em;
                margin: 0.8em 0;
            }

            .form_button {
                background-color: #c1a57b;

                &:disabled {
                    cursor: not-allowed;
                    background-color: #ccc;
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .auth_container {
        .auth_brand {
            display: none;
        }

        .auth_form {
            width: 100%;

            .auth_form_title {
                width: 100%;
                margin: 0 0 1em 1em;
            }

            .form {
                .form_input_field {
                    position: relative;
                    width: 95%;
                    height: 2.5em;
                    margin: 0em auto 3em auto;
                }

                .form_button,
                .css-ag7rrr-MuiTypography-root {
                    width: 95%;
                    margin: 0.8em auto;
                }
            }
        }
    }
}
