::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background-color: #555; */
  /* border-radius: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
  opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.auth_container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.auth_container .auth_brand {
  position: relative;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth_container .auth_brand .auth_brand_paper {
  position: relative;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.auth_container .auth_brand .auth_brand_paper .auth_brand_title {
  margin-bottom: 1em;
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.9em;
}
.auth_container .auth_brand .auth_brand_paper .auth_brand_logo {
  width: 50%;
  height: 30%;
}
.auth_container .auth_brand .auth_brand_paper .auth_brand_logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
}
.auth_container .auth_form {
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.auth_container .auth_form .auth_form_title {
  position: relative;
  width: 32em;
  line-height: 2em;
  text-align: left;
  margin-bottom: 1em;
}
.auth_container .auth_form .auth_form_title .title {
  font-weight: 600;
  font-size: 1.8em;
}
.auth_container .auth_form .auth_form_title .subtitle {
  font-size: 1em;
}
.auth_container .auth_form .auth_field .auth_social {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.auth_container .auth_form .auth_field .auth_social .auth_social_button {
  width: 10em;
  height: 2.6em;
  margin: 0 0.5em;
  border-color: #000;
}
.auth_container .auth_form .auth_field .auth_social .auth_social_button:first-child {
  color: #df3e30;
}
.auth_container .auth_form .auth_field .css-1ws8119-MuiDivider-root {
  margin-bottom: 0.5em;
}
.auth_container .auth_form .form {
  display: flex;
  flex-direction: column;
}
.auth_container .auth_form .form .form_input_field {
  width: 32em;
  height: 3.7em;
  margin: 0.8em 0;
}
.auth_container .auth_form .form .css-ag7rrr-MuiTypography-root {
  font-size: 1em;
  margin: 0.8em 0;
}
.auth_container .auth_form .form .form_button {
  background-color: #c1a57b;
}
.auth_container .auth_form .form .form_button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

@media only screen and (max-width: 320px) {
  .auth_container .auth_brand {
    display: none;
  }
  .auth_container .auth_form {
    width: 100%;
  }
  .auth_container .auth_form .auth_form_title {
    width: 100%;
    margin: 0 0 1em 1em;
  }
  .auth_container .auth_form .form .form_input_field {
    position: relative;
    width: 95%;
    height: 2.5em;
    margin: 0em auto 3em auto;
  }
  .auth_container .auth_form .form .form_button,
  .auth_container .auth_form .form .css-ag7rrr-MuiTypography-root {
    width: 95%;
    margin: 0.8em auto;
  }
}/*# sourceMappingURL=AuthPage.css.map */