@use "../../../../assets/styles/globalStyles.scss";

.author_container {
    position: relative;

    width: 75%;
    height: 12.7em;

    font-size: 15px;

    margin-top: 5.5em;

    background: #f1f8ff;

    padding: 0 1em;

    @include globalStyles.flexRow;

    align-items: center;

    .author_info {
        position: relative;

        width: 37em;
        height: 9em;

        margin-left: 2em;

        .author_name {
            color: #203656;
            font-size: 1.3em;
            font-weight: 700;
            line-height: 1.9em;
            font-family: globalStyles.$poppinFont;
        }

        .author_description {
            color: globalStyles.$time-color;
            font-size: 1em;
            line-height: 1.7em;
        }

        .author_contact_social {
            width: 100%;
            padding: 0.5em 0;

            display: flex;
            justify-content: flex-start;
            align-items: center;

            a {
                width: 0.6em;

                margin: 0 1em;

                color: #203656;
                line-height: 0.8em;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .author_avatar {
        position: relative;

        width: 6.7em;
        height: 6.7em;

        img {
            border-radius: 50%;

            @include globalStyles.imageCover;
        }
    }
}
