@use "../../../../assets/styles/globalStyles.scss";
@use "../../../../themes/general.scss";

.author_container {
    position: relative;

    width: 100%;

    font-size: 15px;

    background: #f1f8ff;

    padding: 1em;

    @include general.flexRow;
    justify-content: space-between;

    align-items: center;

    .author_info {
        position: relative;

        width: 80%;

        .author_name {
            color: #203656;
            font-size: 1.3em;
            font-weight: 700;
            line-height: 1.9em;
            font-family: globalStyles.$poppinFont;
        }

        .author_description {
            color: globalStyles.$time-color;
            font-size: 1em;
            line-height: 1.7em;
        }
    }

    .author_avatar {
        img {
            border-radius: 50%;

            width: 7em;
            height: 7em;

            object-fit: cover;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .author_container {
        flex-direction: column;
        text-align: center;
        font-size: 15px;

        .author_info {
            font-size: 15px;
        }

        .author_item {
            margin: 0.5em 0;

            &:last-child {
                font-size: 10px;
            }

            justify-content: center;
        }
    }
}
