@use "../../../assets/styles/globalStyles.scss";
@use "../../../themes/widgets.scss";
@use "../../../themes/general.scss";

.profile_section {
    position: relative;

    width: 100%;

    @include widgets.background_image("../../../assets/images/user-bg.jpg");

    .section_blur {
        @include widgets.section_blur;
    }

    .profile_header {
        position: relative;

        width: 100%;

        @include general.flexCenter;

        flex-direction: column;

        .top_header {
            width: 100%;

            .top_header_main {
                width: 90%;

                margin: 0 auto;

                padding: 2em 1em;

                @include general.flexSpaceCenter;

                .header_main_items {
                    width: 30%;
                }

                .main_user {
                    @include general.flexCenter;
                    margin: 0 auto;

                    flex-direction: column;

                    text-align: center;

                    .user_slogan {
                        color: rgb(144, 155, 173);
                        font-size: 0.9em;
                    }

                    .user_name {
                        color: rgb(255, 255, 255);

                        font-family: globalStyles.$poppinFont;
                        font-weight: 700;
                        font-size: 2em;
                    }

                    .user_avatar {
                        width: 5.3em;
                        height: 5.3em;

                        img {
                            @include general.imageCover;

                            border-radius: 50%;
                        }
                    }
                }
            }
        }

        .nav_header {
            position: relative;

            @include general.flexCenter;

            width: 85%;
            height: 4em;

            border-color: rgb(144, 155, 173);
            border-style: solid none none;
            border-width: 0.1em;

            .nav_items {
                width: 6.4em;
                height: 2.5em;

                @include general.flexCenter;

                color: #fff;

                &.isActive {
                    @include widgets.nav_links;
                }
            }
        }
    }

    .profile_about {
        position: relative;

        margin: 5em auto;

        width: 50%;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;

        text-align: center;

        h2 {
            color: rgb(255, 255, 255);
            font-size: 3.2em;
            font-weight: 700;
            line-height: 2em;
        }

        p {
            color: #c6c4c9;
            font-size: 1.2em;
            text-align: center;
            line-height: 2em;
        }

        button {
            width: 9em;
            height: 3em;

            border: 0.1em solid #ffffff;
            border-radius: 2em;

            color: #ffffff;

            font-size: 0.9em;
            text-align: center;
            text-transform: capitalize;

            transition: all 0.3s ease-in-out;

            background: transparent;

            &:hover {
                transition: all 0.3s ease-in-out;

                background: #fff;
                color: #000000;
            }
        }
    }

    .profile_foot {
        position: relative;

        bottom: -0.5em;

        img {
            display: inline;
            fill: #ffffff;
        }
    }
}

@media only screen and (max-width: 600px) {
    .profile_section {
        .profile_header {
            .top_header {
                .top_header_main {
                    width: 100%;
                    padding: 2em 0;
                    flex-direction: column;

                    .header_main_items {
                        width: 80%;
                    }
                }
            }
        }

        .profile_about {
            width: 80%;
            font-size: 10px;
        }
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .profile_section {
        .profile_header {
            .top_header {
                .top_header_main {
                    width: 100%;
                    padding: 2em 0;
                }
            }
        }
    }
}
