@use "../../../../themes/general.scss";
@use "../../../../themes/widgets.scss";
@use "../../../../assets/styles/globalStyles.scss";

.homebanner_wrapper {
    position: relative;

    width: 100%;

    margin-bottom: 2em;

    .homebanner_container {
        display: flex;
        justify-content: space-between;

        width: 80%;
        height: 100%;

        margin: 0 auto;

        .homebanner_thumbnail {
            width: 70%;
            height: 100%;

            img {
                border-radius: 0.5em;

                @include general.imageCover;
            }
        }

        .homebanner_post_tabs {
            position: relative;

            width: 30%;

            .post_tabs_nav {
                width: 100%;

                display: flex;
                justify-content: space-between;

                top: 0;

                .nav_buttons {
                    width: 48%;
                    height: 3em;

                    border: 0.2em solid #ebebeb;
                    border-radius: 1.5em;

                    color: #8f9bad;
                    font-family: globalStyles.$robotoFont;
                    line-height: 1.7em;

                    transition: globalStyles.$transition;

                    &.isActive {
                        @include widgets.background_right;

                        transition: globalStyles.$transition;

                        color: #fff;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .homebanner_wrapper {
        .homebanner_container {
            flex-direction: column;

            .homebanner_thumbnail,
            .homebanner_post_tabs {
                width: 100%;
            }

            .homebanner_thumbnail {
                height: 100%;
            }
        }
    }
}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
    .homebanner_wrapper {
        .homebanner_container {
            flex-direction: column;

            .homebanner_thumbnail,
            .homebanner_post_tabs {
                width: 100%;
            }

            .homebanner_thumbnail {
                height: 100%;
            }
        }
    }
}
