@use "../../themes/widgets.scss";
@use "../../assets/styles/globalStyles.scss";
@use "../../themes/colors.scss";
@use "../../themes/general.scss";

.meta_list {
    width: 100%;
    display: flex;

    li {
        @include widgets.meta_list;

        .meta_author {
            width: 2em;
            height: 2em;

            margin-right: 0.5em;

            img {
                @include general.imageCover;
                border-radius: 50%;
            }
        }
    }
}

.post_title {
    @include widgets.post_title;
    @include general.line_clamp_text(2);
}

.post_subtitle {
    font-weight: 400;
    color: #8f9bad;

    @include general.line_clamp_text(2);
}

// VERTICAL THUMBNAIL
.detail_widget_thumbnail {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    width: 90%;

    bottom: 2em;

    display: flex;
    flex-direction: column;

    .thumbnail_categories {
        @include widgets.background_right;

        display: inline-block;

        font-size: 0.8em;
        font-family: globalStyles.$robotoFont;
        text-align: center;

        padding: 0.5em 1em;

        border-radius: 1em;

        max-width: 50%;
    }

    .thumbnail_items {
        margin: 0.3em 0;
    }

    .thumbnail_title {
        color: #fff;
        font-family: globalStyles.$poppinFont;

        font-size: 2em;
    }

    .thumbnail_meta_list {
        font-size: 0.9em;
    }
}

// HORIZONTAL WITHOUT SIZE
.detail_widget_normal {
    display: flex;
    flex-direction: column;

    width: 70%;

    padding: 0 1em;

    .detail_post_title {
        font-size: 1em;

        @include general.line_clamp_text(2);
    }

    .detail_createdAt {
        color: colors.$light-grey;
        font-size: 0.9em;
        font-family: globalStyles.$robotoFont;
    }
}

// VERTICAL WITHOUT THUMBNAIL
.detail_widget {
    width: 100%;
    height: 100%;

    .widget_items {
        margin: 1em 0;
    }

    .detail_meta_list {
        font-size: 14px;
    }

    .detail_content {
        .detail_title {
            font-size: 1.2em;
            margin-bottom: 1em;
            text-transform: capitalize;
        }
    }

    .meta_author_name {
        width: 50%;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .meta_author {
        width: 2em;
        height: 2em;
    }
}

// HORIZONTAL WITH SIZE
.detail_widget_big {
    width: 50%;

    .widget_items {
        margin-bottom: 0.5em;
    }

    .meta_list {
        li {
            font-size: 11px;
        }
    }

    .detail_content {
        .detail_title {
            margin-bottom: 0.5em;
        }
    }

    .detail_share_buttons {
        display: flex;
        justify-content: space-between;

        button {
            background: transparent;
            color: #8f9bad;
        }
    }
}

@media only screen and (max-width: 500px) {
    .detail_widget_thumbnail {
        font-size: 10px;
        .thumbnail_categories {
            max-width: 50%;
        }
    }

    .detail_widget_big {
        width: 100%;

        display: flex;
        flex-direction: column;

        .meta_list {
            margin-top: 1em;
        }
    }
}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
    .detail_widget_thumbnail {
        font-size: 13px;
        .thumbnail_categories {
            max-width: 50%;
        }
    }
}
