@use "../../../themes/general.scss";
@use "../../../themes/colors.scss";
@use "../../../assets/styles/globalStyles.scss";

footer {
    position: relative;

    margin: 0 auto;

    width: 90%;
    height: 10em;

    padding: 1.5em 0;

    border-top: 0.1em solid #ccc;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer_term_policy {
        display: flex;
        justify-content: center;
        transition: globalStyles.$transition;

        button {
            display: flex;
            align-items: center;

            background: transparent;

            border: 0.1em solid colors.$light-grey;

            padding: 0.5em 1em;
            border-radius: 2em;

            color: colors.$light-grey;

            &:hover {
                border-color: colors.$light-red;
                color: colors.$light-red;

                transition: globalStyles.$transition;
            }
        }
    }

    .footer_copyright {
        font-size: 1em;
        text-align: center;
        color: colors.$light-grey;
    }

    .footer_social {
        position: relative;

        @include general.flexCenter;
        margin: 0 auto;

        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    footer {
        flex-direction: column;

        .footer_items {
            margin: 0.5em 0;
        }
    }
}
