@use "../../assets/styles/globalStyles.scss";

.about_widget {
    width: 80%;
    height: 80%;

    text-align: center;
    padding: 0 1em;

    .about {
        margin-bottom: 1.5em;

        &:first-child {
            margin-bottom: 0.5em;
        }
    }

    .about_author {
        font-size: 2em;
        color: globalStyles.$title-color;
        font-family: globalStyles.$poppinFont;
        font-weight: 700;
    }

    .about_description {
        font-size: 0.9em;
        font-family: globalStyles.$robotoFont;
        color: globalStyles.$light-grey;
    }

    .about_social_button {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 2em;

        li {
            .social_button_items {
                color: globalStyles.$title-color;
                transition: globalStyles.$transition;
                cursor: pointer;
                &:hover {
                    transition: globalStyles.$transition;
                    color: globalStyles.$light-red;
                }
            }
        }
    }
}
