@use "../../themes/general.scss";
@use "../../themes/colors.scss";
@use "../../assets/styles/globalStyles.scss";

.categories_wrapper {
    position: relative;

    width: 100%;

    .categories_head {
        width: 100%;

        background: #f1f8ff;

        @include general.flexCenter;
        flex-direction: column;

        padding: 2em;

        margin: 1em 0;

        .header_title {
            color: colors.$title-color;
            font-family: globalStyles.$poppinFont;
            font-weight: 800;
            font-size: 1.5em;
        }
    }

    .categories_content {
        display: flex;
        justify-content: center;

        width: 80%;

        margin: 0 auto;

        .categories_left {
            width: 65%;

            display: flex;
            flex-direction: column;

            .categories_list {
                display: flex;
                justify-content: space-between;
            }

            .categories_paginate {
                display: flex;
                justify-content: center;

                margin: 2em 0;
            }
        }

        .categories_right {
            width: 35%;
        }
    }
}
