@use "../../assets/styles/globalStyles.scss";

.search_container {
    position: relative;

    width: 90%;

    margin: 1em auto;

    font-size: 15px;

    .search_head {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100%;
        height: 30%;

        .search_field {
            width: 40%;
        }

        h2 {
            font-size: 1.6em;
            margin-bottom: 1em;
        }

        p {
            margin-bottom: 1.5em;
        }
    }

    .search_body {
        position: relative;
        max-width: 100%;
        height: 70%;

        .search_list_count {
            margin: 1em 0;
            text-align: center;
            font-family: globalStyles.$montserratFont;
        }

        .search_list_content {
            position: relative;

            max-width: 80%;

            margin: 0 auto;

            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
