.body_container {
    position: relative;

    display: flex;
    justify-content: space-between;

    width: 80%;

    margin: 0 auto;

    .left_side {
        width: 60%;

        .child_container {
            display: flex;
            justify-content: space-between;

            .side {
                width: 48%;
            }
        }
    }

    .right_side {
        width: 40%;
        height: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .body_container {
        width: 90%;
        flex-direction: column;

        .left_side {
            width: 100%;

            .child_container {
                flex-direction: column;

                .side {
                    width: 100%;
                }
            }
        }

        .right_side {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
    .body_container {
        width: 90%;
        flex-direction: column;

        .left_side {
            width: 100%;
        }

        .right_side {
            width: 100%;
        }
    }
}
