.body_container {
    position: relative;

    display: flex;
    justify-content: space-between;

    width: 80%;

    margin: 0 auto;

    .left_side {
        width: 60%;
    }

    .right_side {
        width: 40%;
        height: 100%;
    }
}
