.profile_main_content {
    position: relative;

    width: 100%;

    .profile_container {
        position: relative;

        display: flex;

        width: 90%;
        height: 100%;

        margin: 1em auto;

        background: #fff;
    }
}
