@use "../../../../assets/styles/globalStyles.scss";

.comment_list_container {
    position: relative;

    width: 80%;

    margin: 5em 0;

    font-size: 15px;

    .comment_items {
        margin: 1em 0;
    }

    .comment_list_title {
        // text-align: center;
        font-size: 1.5em;
        font-weight: 600;
        text-decoration: underline;
        color: globalStyles.$button-color;
    }

    .comment_list_empty {
        position: relative;

        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: column;

        width: 100%;

        margin-top: 1em;

        .comment_list_empty_title {
            font-size: 1.2em;
            font-family: globalStyles.$fontMontserrat;
            font-weight: 700;
            margin-top: 1em;
        }

        .comment_list_empty_img {
            // margin: 0 auto;
            width: 20%;
            height: 20%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
