@use "../../../assets/styles/globalStyles.scss";
@use "../../../themes/general.scss";
@use "../../../themes/widgets.scss";

.category_items {
    position: relative;

    display: flex;

    .items_container {
        display: flex;
        justify-content: space-between;

        .items_img {
            position: relative;

            img {
                @include general.imageCover;
            }
        }

        .section_blur {
            top: 0;
            left: 0;
            border-radius: 1em;

            @include widgets.section_blur;
        }
    }
}

// VERTICAL - ĐỨNG
.category_items.vertical {
    width: 100%;

    .items_container {
        width: 100%;
        height: 100%;
        flex-direction: column;

        .items_img {
            width: 100%;
            height: 100%;

            img {
                border-radius: 0.5em;
            }

            span {
                width: 3.3em;
                height: 3.3em;

                border-radius: 50%;

                box-shadow: #000000 0px 2px 4px 0px;
                background-image: linear-gradient(to top, globalStyles.$light-red 0%, #ffa387 100%);

                @include general.flexCenter;

                color: #ffffff;
            }

            .detail_badge {
                position: absolute;

                width: 100%;
                height: 100%;

                .detail_categories {
                    @include widgets.categories_badge;
                    position: absolute;

                    top: 1em;
                    left: 1em;
                }

                .detail_post_format {
                    @include widgets.background_top;
                    @include general.flexCenter;

                    position: absolute;

                    width: 3.3em;
                    height: 3.3em;

                    bottom: -1em;
                    right: 0;

                    .post_format_icon {
                        color: #fff;
                    }
                }
            }
        }
    }
}

// HORIZONTAL - NGANG
.category_items.horizontal {
    width: 100%;
    justify-content: space-between;

    .items_img {
        p,
        span {
            display: none;
        }
    }

    .items_img.circle {
        width: 5em;
        height: 5em;

        img {
            border-radius: 50%;
        }
    }

    .items_img.square {
        width: 7em;
        height: 5em;

        img {
            border-radius: 1em;
        }
    }

    // HORIZONTAL - LARGE
    .items_container.large_horizontal {
        .items_img.square {
            width: 45%;
            height: 100%;
        }

        .items_share_button {
            display: flex;
            justify-content: space-between;

            margin-top: 0.5em;
        }
    }
}

@media only screen and (max-width: 500px) {
    .category_items.vertical {
        margin-bottom: 2em;
    }

    .category_items.horizontal {
        .items_container.large_horizontal {
            display: flex;
            flex-direction: column;

            .items_img.square {
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
    .category_items.vertical {
        margin-bottom: 2em;
    }
}
