@charset "UTF-8";
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background-color: #555; */
  /* border-radius: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
  opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.category_items {
  position: relative;
  display: flex;
}
.category_items .items_container .items_img {
  position: relative;
}
.category_items .items_container .items_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category_items .items_container .items_text .items_subtitle,
.category_items .items_container .items_text .items_time,
.category_items .items_container .items_text .items_categories,
.category_items .items_container .items_text .items_title {
  margin-top: 0.5em;
}
.category_items .items_container .items_text .items_title {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.4em;
  font-family: "Poppins", sans-serif;
  color: #203656;
  transition: all 0.3s ease-in-out;
}
.category_items .items_container .items_text .items_title:hover {
  color: #fe4f70;
  transition: all 0.3s ease-in-out;
}
.category_items .items_container .items_text .items_subtitle {
  color: #8f9bad;
  font-family: "Roboto", sans-serif;
}
.category_items .items_container .items_text .items_categories {
  color: #c1a57b;
}
.category_items .items_container .items_text .items_time {
  color: #8f9bad;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
}
.category_items .items_container .items_text .items_meta {
  width: 100%;
}
.category_items .items_container .items_text .items_meta li {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
}
.category_items .items_container .items_text .items_meta li::before {
  content: "•";
  color: #fe4f70;
  font-weight: bold;
  display: inline-block;
}
.category_items .items_container .items_text .items_meta li:first-child::before {
  display: none;
}
.category_items .items_container .items_text .items_meta li .text {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.category_items.vertical {
  width: 100%;
}
.category_items.vertical .items_container {
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.category_items.vertical .items_container .items_img {
  width: 100%;
  height: 16em;
}
.category_items.vertical .items_container .items_img span,
.category_items.vertical .items_container .items_img p {
  position: absolute;
}
.category_items.vertical .items_container .items_img span {
  bottom: -1em;
  right: 0;
  width: 3.3em;
  height: 3.3em;
  border-radius: 50%;
  box-shadow: #000000 0px 2px 4px 0px;
  background-image: linear-gradient(to top, #fe4f70 0%, #ffa387 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.category_items.vertical .items_container .items_img .items_categories {
  top: 1em;
  left: 1em;
  border-radius: 3em;
  background-size: 200%;
  background: linear-gradient(to right, #fe4f70 0%, #ffa387 51%, #fe4f70 100%);
  padding: 0.6em;
  font-family: "Roboto", sans-serif;
  font-size: 0.7em;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.category_items.vertical .items_container .items_img .items_categories.thumbednail_categories {
  z-index: 10;
}
.category_items.vertical .items_container .items_img .items_thumbednail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 62, 97, 0.4);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5em 1em;
  border-radius: 1em;
}
.category_items.vertical .items_container .items_img .items_thumbednail .thumbednail_meta {
  display: flex;
  justify-content: space-between;
  color: #8f9bad;
  font-size: 0.9em;
}
.category_items.vertical .items_container .items_img .items_thumbednail .thumbednail_text {
  position: relative;
  text-align: left;
}
.category_items.vertical .items_container .items_img .items_thumbednail .thumbednail_title {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.category_items.vertical .items_container .items_text .items_title {
  font-size: 1.3em;
}
.category_items.vertical .items_container .items_text .items_meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0.5em 0 0;
}
.category_items.vertical .items_container .items_text .items_meta .meta_author_avt {
  width: 2em;
  height: 2em;
}
.category_items.vertical .items_container .items_text .items_meta .meta_author_avt img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.category_items.vertical .items_container .items_text .items_meta li .text {
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
  color: #8f9bad;
  padding: 0 0.9em;
}
.category_items.vertical .items_container .items_text .items_meta li .meta_author {
  transition: all 0.3s ease-in-out;
}
.category_items.vertical .items_container .items_text .items_meta li .meta_author:hover {
  transition: all 0.3s ease-in-out;
  color: #fe4f70;
}

.category_items.horizontal {
  width: 100%;
  justify-content: space-between;
  background: yellow;
}
.category_items.horizontal .items_img p,
.category_items.horizontal .items_img span {
  display: none;
}
.category_items.horizontal .items_img.circle {
  width: 50%;
  height: 5em;
}
.category_items.horizontal .items_img.circle img {
  border-radius: 50%;
}
.category_items.horizontal .items_img.circle .items_badge {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
}
.category_items.horizontal .items_img.square {
  width: 7.3em;
  height: 5.3em;
}
.category_items.horizontal .items_img.square img {
  border-radius: 2em;
}
.category_items.horizontal .items_text {
  margin-left: 1em;
}
.category_items.horizontal .items_text .items_title {
  font-size: 1em;
}
.category_items.horizontal .items_text .items_meta {
  display: none;
}
.category_items.horizontal .items_container.large_horizontal .items_img.square {
  width: 17em;
  height: 13em;
}
.category_items.horizontal .items_container.large_horizontal .items_text .items_title {
  margin-bottom: 0.5em;
  font-size: 1.3em;
}
.category_items.horizontal .items_container.large_horizontal .items_text .items_time {
  display: none;
}
.category_items.horizontal .items_container.large_horizontal .items_text .items_subtitle {
  margin-top: 0.5em;
}
.category_items.horizontal .items_container.large_horizontal .items_text .items_meta {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0.5em 0 0;
}
.category_items.horizontal .items_container.large_horizontal .items_text .items_meta .meta_author_avt {
  width: 2em;
  height: 2em;
}
.category_items.horizontal .items_container.large_horizontal .items_text .items_meta .meta_author_avt img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category_items.horizontal .items_container.large_horizontal .items_text .items_meta li {
  width: 30%;
}
.category_items.horizontal .items_container.large_horizontal .items_text .items_meta li .text {
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
  color: #8f9bad;
  padding-left: 3em;
  text-align: center;
}
.category_items.horizontal .items_container.large_horizontal .items_text .items_meta li .meta_author {
  transition: all 0.3s ease-in-out;
}
.category_items.horizontal .items_container.large_horizontal .items_text .items_meta li .meta_author:hover {
  transition: all 0.3s ease-in-out;
  color: #fe4f70;
}
.category_items.horizontal .items_container.large_horizontal .items_share_button {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}/*# sourceMappingURL=KatenBlogItems.css.map */