::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background-color: #555; */
  /* border-radius: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
  opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.highlight_container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.highlight_container .highlight_title {
  z-index: 2;
}
.highlight_container .highlight_title::before {
  content: "";
  position: absolute;
  top: 0.8em;
  width: 15%;
  height: 0.5em;
  background: #c1a57b;
  z-index: -1;
}
.highlight_container .highlight_blog {
  position: relative;
  width: 100%;
  display: flex;
}
.highlight_container .highlight_blog .highlight_highest {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.highlight_container .highlight_blog .highlight_highest .highlight_attach {
  position: relative;
  width: 100%;
  margin-top: 1em;
}
.highlight_container .highlight_blog .highlight_highest .highlight_attach .highlight_attach_items {
  position: relative;
  width: 100%;
  display: flex;
  margin: 1em 0;
}
.highlight_container .highlight_blog .highlight_highest .highlight_attach .highlight_attach_items .attach_img {
  width: 12em;
  height: 12em;
}
.highlight_container .highlight_blog .highlight_highest .highlight_attach .highlight_attach_items .attach_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
}
.highlight_container .highlight_blog .highlight_highest .highlight_attach .highlight_attach_items .attach_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
}
.highlight_container .highlight_blog .highlight_highest .highlight_attach .highlight_attach_items .attach_text .attach_title {
  font-size: 1.2em;
}
.highlight_container .highlight_blog .highlight_highest .highlight_highest_items {
  position: relative;
  width: 48%;
}
.highlight_container .highlight_blog .highlight_highest .highlight_highest_items .highest_img {
  width: 100%;
  height: 20em;
  margin: 0.5em auto;
}
.highlight_container .highlight_blog .highlight_highest .highlight_highest_items .highest_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
}
.highlight_container .highlight_blog .highlight_highest .highlight_highest_items .highest_text {
  padding: 0 0.5em;
  line-height: 2em;
}
.highlight_container .highlight_blog .highlight_highest .highlight_highest_items .highest_text .highest_categories {
  color: #c1a57b;
  font-weight: 500;
}
.highlight_container .highlight_blog .highlight_highest .highlight_highest_items .highest_text .highest_title {
  width: 100%;
  font-size: 1.2em;
  font-weight: 600;
}
.highlight_container .highlight_blog .highlight_highest .highlight_highest_items .highest_text .highest_time {
  color: #c0b9b6;
}
.highlight_container .highlight_blog .highlight_advertise {
  position: relative;
  width: 30%;
}
.highlight_container .highlight_blog .highlight_advertise .advertise_container {
  z-index: 2;
  width: 15em;
  height: 30em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0.8em auto;
  padding: 0 1em;
  text-align: center;
}
.highlight_container .highlight_blog .highlight_advertise .advertise_container .advertise_img {
  margin: 0.5em auto;
  width: 100%;
  height: 12em;
}
.highlight_container .highlight_blog .highlight_advertise .advertise_container .advertise_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
}
.highlight_container .highlight_blog .highlight_advertise .advertise_container .advertise_title {
  margin: 1em 0;
  font-size: 1em;
  font-weight: 700;
}
.highlight_container .highlight_blog .highlight_advertise .advertise_container .advertise_subtitle {
  margin: 1em 0;
  font-size: 0.8em;
  font-weight: 500;
}
.highlight_container .highlight_blog .highlight_advertise .advertise_container .advertise_button {
  margin-top: 1em;
  color: #fff;
  background-color: #c1a57b;
}

@media only screen and (max-width: 320px) {
  .highlight_container .highlight_title::before {
    width: 60%;
  }
  .highlight_container .highlight_blog {
    flex-direction: column;
  }
  .highlight_container .highlight_blog .highlight_highest {
    width: 100%;
    height: auto;
  }
  .highlight_container .highlight_blog .highlight_highest .highlight_highest_items {
    width: 100%;
  }
  .highlight_container .highlight_blog .highlight_highest .highlight_attach .highlight_attach_items {
    flex-direction: column;
  }
  .highlight_container .highlight_blog .highlight_highest .highlight_attach .highlight_attach_items .attach_img {
    width: 100%;
    height: 20em;
  }
  .highlight_container .highlight_blog .highlight_highest .highlight_attach .highlight_attach_items .attach_text {
    padding: 0;
  }
  .highlight_container .highlight_blog .highlight_advertise {
    width: 100%;
  }
  .highlight_container .highlight_blog .highlight_advertise .advertise_container {
    width: 20em;
  }
  .highlight_container .highlight_blog .highlight_advertise .advertise_container .advertise_img {
    height: 20em;
  }
}/*# sourceMappingURL=Highlight.css.map */