.highlight_container {
    position: relative;

    margin: 0 auto;

    width: 90%;

    display: flex;
    flex-direction: column;

    font-size: 15px;

    .highlight_title {
        z-index: 2;

        &::before {
            content: "";

            position: absolute;
            top: 0.8em;

            width: 15%;
            height: 0.5em;

            background: #c1a57b;
            z-index: -1;
        }
    }

    .highlight_blog {
        position: relative;

        width: 100%;

        display: flex;

        .highlight_highest {
            position: relative;
            width: 70%;

            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .highlight_attach {
                position: relative;

                width: 100%;

                margin-top: 1em;

                // line-height: 2.5em;

                .highlight_attach_items {
                    position: relative;
                    width: 100%;

                    display: flex;

                    margin: 1em 0;

                    .attach_img {
                        width: 12em;
                        height: 12em;

                        img {
                            width: 100%;
                            height: 100%;

                            object-fit: cover;
                            border-radius: 1em;
                        }
                    }

                    .attach_text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        padding: 0 1em;

                        .attach_title {
                            font-size: 1.2em;
                        }
                    }
                }
            }

            .highlight_highest_items {
                position: relative;

                width: 48%;

                .highest_img {
                    width: 100%;
                    height: 20em;
                    margin: 0.5em auto;

                    img {
                        width: 100%;
                        height: 100%;

                        object-fit: cover;

                        border-radius: 1em;
                    }
                }

                .highest_text {
                    padding: 0 0.5em;
                    line-height: 2em;

                    .highest_categories {
                        color: #c1a57b;
                        font-weight: 500;
                    }

                    .highest_title {
                        width: 100%;
                        font-size: 1.2em;
                        font-weight: 600;
                    }

                    .highest_time {
                        color: #c0b9b6;
                    }
                }
            }
        }

        .highlight_advertise {
            position: relative;
            width: 30%;

            .advertise_container {
                // position: fixed;
                z-index: 2;

                width: 15em;
                height: 30em;

                display: flex;
                justify-content: center;
                flex-direction: column;

                margin: 0.8em auto;
                padding: 0 1em;
                text-align: center;

                .advertise_img {
                    margin: 0.5em auto;
                    width: 100%;
                    height: 12em;

                    img {
                        width: 100%;
                        height: 100%;

                        object-fit: cover;

                        border-radius: 1em;
                    }
                }

                .advertise_title {
                    margin: 1em 0;
                    font-size: 1em;
                    font-weight: 700;
                }

                .advertise_subtitle {
                    margin: 1em 0;
                    font-size: 0.8em;
                    // color: #fff;
                    font-weight: 500;
                }

                .advertise_button {
                    margin-top: 1em;
                    color: #fff;
                    background-color: #c1a57b;
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .highlight_container {
        .highlight_title {
            &::before {
                width: 60%;
            }
        }

        .highlight_blog {
            flex-direction: column;
            .highlight_highest {
                width: 100%;
                height: auto;

                .highlight_highest_items {
                    width: 100%;
                }

                .highlight_attach {
                    .highlight_attach_items {
                        flex-direction: column;
                        // flex-direction: column;

                        .attach_img {
                            width: 100%;

                            height: 20em;
                        }

                        .attach_text {
                            padding: 0;
                        }
                    }
                }
            }

            .highlight_advertise {
                width: 100%;

                .advertise_container {
                    width: 20em;
                    // height: auto;

                    .advertise_img {
                        height: 20em;
                    }
                }
            }
        }
    }
}
