@use "../../themes/widgets.scss";
@use "../../assets/styles/globalStyles.scss";
@use "../../themes/colors.scss";
@use "../../themes/general.scss";

.detail_clearfix_thumbnail {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    width: 90%;

    bottom: 2em;

    display: flex;
    flex-direction: column;

    .thumbnail_categories {
        @include widgets.background_right;

        display: inline-block;

        font-size: 13px;
        font-family: globalStyles.$robotoFont;
        text-align: center;

        padding: 0.5em 1em;

        border-radius: 1em;

        max-width: 20%;
    }

    .thumbnail_items {
        margin: 0.3em 0;
    }

    .thumbnail_title {
        color: #fff;
        font-family: globalStyles.$poppinFont;

        font-size: 32px;
    }

    .thumbnail_meta_list {
        display: flex;
        font-size: 14px;

        li {
            position: relative;

            display: flex;
            align-items: center;

            color: colors.$light-grey;

            &::before {
                content: "\2022";

                color: globalStyles.$light-red;
                font-weight: bold;
                display: inline-block;

                margin: 0 1em;
            }

            &:first-child::before {
                display: none;
            }
        }
    }
}

.detail_clearfix_normal {
    .clearfix_text {
        margin-top: 0.5em;
    }

    .clearfix_title {
        font-size: 1em;
        font-weight: 700;
        line-height: 1.4em;
        font-family: globalStyles.$poppinFont;
        color: globalStyles.$title-color;
        transition: globalStyles.$transition;

        &:hover {
            color: globalStyles.$light-red;
            transition: globalStyles.$transition;
        }
    }

    .clearfix_subtitle {
        color: globalStyles.$light-grey;
        font-family: globalStyles.$robotoFont;
    }

    .clearfix_categories {
        color: globalStyles.$category-color;
    }

    .clearfix_time {
        color: globalStyles.$light-grey;
        font-family: globalStyles.$robotoFont;
        font-size: 0.9em;
    }
}

.detail_clearfix {
    display: flex;
    flex-direction: column;

    width: 70%;

    .detail_post_title {
        font-size: 1em;
        color: colors.$title-color;
        font-weight: 700;

        display: -webkit-box;
        -webkit-line-clamp: 2; /* Number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        transition: globalStyles.$transition;

        &:hover {
            color: globalStyles.$light-red;
            transition: globalStyles.$transition;
        }
    }

    .detail_createdAt {
        color: colors.$light-grey;
        font-size: 0.9em;
        font-family: globalStyles.$robotoFont;
    }
}
